body{
background-color: lightpink;
}

h1{
    background-color: lightseagreen;
}

h2{
    background-color: antiquewhite;
}

ul{
    margin-left: 1rem;
    background-color: aquamarine;
    border: 2px solid rgb(223, 209, 191)
}
